<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>自定义CollectionViewLayout.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C4C7A0161EF0D8BE0071AE10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C7A02F1EF0D8BF0071AE10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C4C7A03A1EF0D8BF0071AE10</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
